.TitleBl {
    position: absolute;
    top: 5px;
    padding: 5px;
    left: 170px;
    transform: scale( 1.0);
}

.buttonPosition {
    position: fixed;
    margin: 4px;
    top: 20px;
    left: 10px;
}

.resultfeature {
    position: absolute;
    font-family: normal-minecraft;
    top: 100px;
    left: 350px;
}

.generator {
    top: 550px;
    left: 420px;
    background: #24a700;
    border-color: #17cd07;
    border-width: 5px;
    color: #ffffff;
    transition: transform .2s;
    padding: 16px 20px;
    position: absolute;
    overflow: hidden;
    display: inline-block;
    font-family: 'normal-minecraft';
}

.generator:hover {
    color: rgb(22, 61, 0);
    transform: scale(1.3);
}

.generator::after {
    content: "";
    background: #55ff00;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.generator:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
}

@media(max-width: 600px) {
    .menuFixed {
        width: 700px;
    }
    .end {
        width: 380px;
        left: 10px;
    }
    .end>div {
        transform: scale(0.9);
    }
    .TitleBl {
        transform: scale( 0.6);
        left: 90px;
    }
    .resultfeature {
        margin: 1px;
        padding: 1px;
        margin-top: 5px;
        margin-block-end: 100px;
        transform: scale(0.62);
        top: 20px;
        left: -130px;
    }
    .eventList {
        padding: 1px;
        transform: scale(0.8);
    }
    .eventList>div {
        background-color: #11121B;
        padding: 1px;
        width: 370px;
        border-radius: 50px;
    }
    .generator {
        margin-top: 5px;
        top: 390px;
        left: 20px;
    }
}