/*Menu-------------------------------------------------------------------------------------*/

.TitleBl {
    position: absolute;
    top: 5px;
    padding: 5px;
    left: 170px;
    transform: scale( 1.0);
}

.buttonPosition {
    position: fixed;
    margin: 4px;
    top: 20px;
    left: 10px;
}


/*_______________________________________-_-__*/


/*Data----------------------------------------------------------------*/

.data {
    position: relative;
    padding-top: 10px;
    width: 590px;
    left: 460px;
    top: 120px;
    transform: scale(1.1);
}

.data>div {
    padding-top: 10px;
}

.end_iconStYB {
    position: absolute;
    width: 456px;
    height: 252px;
    top: 650px;
    left: 0px;
}

.end_iconMc {
    position: absolute;
    width: 256px;
    height: 100px;
    left: 90px;
    top: 860px;
}

@media(max-width: 600px) {
    .data {
        width: 400px;
        top: 50px;
        left: 20px;
        transform: scale(1.0);
    }
    .end_iconStYB {
        top: 680px;
        left: -30px;
        transform: scale(0.9);
    }
    .end_iconMc {
        top: 860px;
        left: 70px;
        transform: scale(0.9);
    }
    .menuFixed {
        width: 700px;
    }
    .end {
        width: 380px;
        left: 10px;
    }
    .end>div {
        transform: scale(0.9);
    }
    .TitleBl {
        transform: scale( 0.7);
        left: 130px;
    }
    .result {
        margin: 1px;
        padding: 1px;
        margin-top: 5px;
        margin-block-end: 100px;
        transform: scale(0.62);
        top: 20px;
        left: -130px;
    }
    .eventList {
        padding: 1px;
        transform: scale(0.8);
    }
    .eventList>div {
        background-color: #11121B;
        padding: 1px;
        width: 370px;
        border-radius: 50px;
    }
    .generator {
        margin-top: 5px;
        top: 390px;
        left: 20px;
    }
    .export {
        margin-top: 5px;
        top: 390px;
        left: 260px;
    }
    .copy {
        margin-top: 5px;
        top: 390px;
        left: 150px;
    }
    .exit {
        top: -300px;
        left: 10px;
    }
}